
#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #535bf2;
  transform: scale(1.05);
}

button+p {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

.toggle {
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background-color: #ccc;
  cursor: pointer;
  margin: 20px auto;
}

.toggle.on {
  background-color: #02c39a;
}

.toggle-circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: white;
  margin: 2px;
  transform: translateX(0);
  transition: transform 0.3s;
}

.toggle.on .toggle-circle {
  transform: translateX(30px);
}

@media (max-width: 600px) {
  #root {
    padding: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  button {
    width: 100%;
  }
}
.click-button {
  margin-top: 30px;
}